[gerrit]
        basePath = git
        serverId = 1e6b4018-df37-4104-b181-3241c07504fd
        canonicalWebUrl = http://gerrit.chrischipman.com:8080/
[database]
        type = mysql
        database = gerrit
        hostname = localhost
        username = gerrit
[auth]
        type = ldap
        gitBasicAuth = true
        gitBasicAuthPolicy = ldap	
[ldap]
	server = ldap://ldap.chrischipman.com
	accountBase = ou=Users,dc=chrischipman,dc=com
	accountPattern = (uid=${username})
	accountSshUserName = ${uid.toLowerCase}
	accountFullName = cn
	username = cn=root,dc=chrischipman,dc=com
	groupBase = ou=Groups,dc=chrischipman,dc=com 
	groupPattern = (&(objectClass=posixGroup)(cn=${groupname}))
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = localhost
[container]
        user = gerrit
        javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.111-2.b15.el7_3.x86_64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
[gitweb]
        cgi = /var/www/git/gitweb.cgi
