{% set mgmt_ip = salt['mine.get']('roles:db-mgmt', 'network.interface_ip', expr_form='grain') %}
[mysqld]
ndbcluster
[mysql_cluster]
ndb-connectstring={% for server, address in mgmt_ip.items() -%}{{ address }},{% endfor -%}
